@media print {
    @page {
        margin-left:  0.8in;
        margin-right:  0.8in;
        margin-top:  0;
        margin-bottom:  0;
    }
    .no-print {
        display: none;
    }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}

body {
  margin: 0;
  position: relative;
}

body > .wrapper {
  width: 100%;
  height: 100%;
}

body.full .chart {
  width: 100%;
  left: 0;
}

body.full .header,
body.full .title {
  width: calc(100% - 20px);
}

body.full .menu {
  left: -400px;
}

body.hide-controls .header {
  top: -100px;
  left: 0px;;
}

body.hide-controls .title {
  top: 0px;
  left: 0px;
  width: 0px;
}

body.hide-controls .chart {
  top: 50px;
  height: calc(100% - 50px);
}

body.hide-controls .header .toggle-controls {
  top: 10px;
  right: 10px;
  position: fixed;
}

.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.header {
  padding: 10px;
  height: 52px;
  width: calc(100% - 10px);
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
}

.header > * {
  white-space: nowrap;
  display: inline-block;
}

body.no-chart .header > span {
  opacity: 0.5;
  pointer-events: none;
}

body.no-chart .header > span.refresh,
body.no-chart .header > span.clear,
body.no-chart .header > span.share,
body.no-chart .header > span.theme,
body.no-chart .header > span.set {
  opacity: 1;
  pointer-events: initial;
}

body.no-queue .header .queue-controls {
  display: none;
}

button {
  min-width: 48px;
  height: 48px;
  margin: 0 10px 0 0;
  border-width: 0px;
  cursor: pointer;
}

button.columns,
button.float-lines {
  width: 40px;
}

button.icon {
  font-size: xx-large;
}

.share > button,
.refresh > button,
.clear > button,
.lyrics > button,
.theme > button,
.set > button {
  width: auto;
}

label,
span {
  display: inline-block;
}

label {
  margin: 0 5px 0 0;
}

.header label {
  height: 48px;
  line-height: 48px;
}

.header > span {
  padding: 0 0 0 10px;
}

.header > span > * {
  float: left;
}

.header > button,
.header > span > button {
  padding: 0 10px;
}

.header > span > button:last-child {
  margin: 0;
}

.menu {
  position: absolute;
  top: 72px;
  left: 0;
  height: 100%;
  width: 400px;
  user-select: none;
}

.menu .search {
  position: relative;
  height: 48px;
}

.menu .search input {
  width: 380px;
  height: 40px;
  padding: 4px 10px;
  border: none;
}

.menu .search input:focus {
  outline-width: 0;
}

.menu .search .clear-filter {
  display: none;
  position: absolute;
  top: 6px;
  right: 3px;
  width: 36px;
  height: 36px;
  border-radius: 20px;
  cursor: pointer;
}

.menu .search .clear-filter:after {
  content: '\02A2F';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 36px;
}

.collapse {
  position: relative;
  float: left;
  width: 48px;
  height: 48px;
  margin: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul.list {
  height: calc(100% - 120px);
}

.menu ul li > div {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: center;
  width: 15%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li > div.move-up:hover,
.menu ul li > div.move-down:hover {
  opacity: 1;
}

.menu ul li {
  padding: 5px 5px 5px 20px;
  cursor: pointer;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  height: 20px;
  position: relative;
}
.menu ul li.category {
  padding: 10px;
  font-weight: bold;
}

.title {
  position: absolute;
  top: 62px;
  right: 0;
  height: 32px;
  margin: 10px 10px 0;
  width: calc(100% - 420px);
  text-wrap: nowrap;
}

.chart {
  position: absolute;
  top: 100px;
  left: 400px;
  height: calc(100% - 100px);
  width: calc(100% - 400px);
}

.chart .empty-chart {
  margin: 0 10px;
}

.chart .empty-chart:before {
  content: '\02190';
  margin-right: 10px;
}

.column {
  margin: 0;
  padding: 0 30px 40px 10px;
  float: left;
}

.chart.no-columns .column {
  width: calc(100% - 30px);
  padding: 0 10px;
}

.chart:not(.no-columns) .column ul:first-child li:first-child,
.chart.no-columns .column:first-child ul:first-child li:first-child {
  margin: 0;
  padding: 0;
}

.chart.no-columns .column:last-child {
  margin: 0 0 20px;
  padding: 0 10px 40px;
}

.chart ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  overflow: visible;
}

.chart ul li.empty {
  margin: 0;
  height: 0;
  width: 100%;
}

.chart ul li {
  padding: 20px 0 0;
  white-space: nowrap;
}

.chart ul li:first-child {
  width: 100%;
}

.chart ul li .chord {
  position: relative;
  display: inline-block;
  top: -17px;
  width: 0px;
  white-space: nowrap;
}

.chart.float-lines ul li {
  float: left;
  padding-right: 5%;
}

.lyrics-only .chart ul li {
  margin: 0;
  padding: 10px 0 0;
}

.lyrics-only .chart ul li.empty {
  display: none;
}

.lyrics-only .chart ul li:first-child {
  margin: 26px 0 0;
}
